/.idea
.gitignore
/venv
/data/vacancies_by_year.csv
/parsed_data/vacancies_by_2008.csv
/parsed_data/vacancies_by_2009.csv
/parsed_data/vacancies_by_2010.csv
/parsed_data/vacancies_by_2011.csv
/parsed_data/vacancies_by_2012.csv
/parsed_data/vacancies_by_2013.csv
/parsed_data/vacancies_by_2014.csv
/parsed_data/vacancies_by_2015.csv
/parsed_data/vacancies_by_2016.csv
/parsed_data/vacancies_by_2018.csv
/parsed_data/vacancies_by_2019.csv
/parsed_data/vacancies_by_2020.csv
/parsed_data/vacancies_by_2021.csv
/data